<app-navbar redirectOnLogoClick="'/'"></app-navbar>

<div class="all">
  <div class="title">
    <h4>Nome hotel</h4>
    <p>Informações da reserva</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <div class="list-group-item">
      <li class="bi bi-calendar-event"> Data de check-in</li>
      <li>body.checkin</li>
    </div>
    <div class="list-group-item">
      <li class="bi bi-calendar-event"> Data de check-out</li>
      <li>body.checkout</li>
    </div>
    <div class="list-group-item">
      <li class="bi bi-cash"> Valor da hospedagem</li>
      <li>body.hospedagem</li>
    </div>
    <div class="list-group-item">
      <li class="bi bi-person-fill"> Quantidade de pessoas</li>
      <li>body.qtdpessoas</li>
    </div>
    <div class="list-group-item">
      <li class="bi bi-check-lg"> Quantidade de quartos</li>
      <li>body.qtdquartos</li>
    </div>
  </ul>
</div>

<app-footer></app-footer>
