<app-navbar redirectOnLogoClick="'/'"></app-navbar>

<div class="all">
  <div class="title">
    <h4>{{ reservationDetails?.hotelName }}</h4>
    <p>Informações da reserva</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <div class="list-group-item">
      <li class="bi bi-calendar-event"> Data de check-in</li>
      <li>{{ reservationDetails?.checkin | date: 'dd/MM/yyyy' }}</li>
    </div>
    <div class="list-group-item">
      <li class="bi bi-calendar-event"> Data de check-out</li>
      <li>{{ reservationDetails?.checkout | date: 'dd/MM/yyyy' }}</li>
    </div>
    <div class="list-group-item">
      <li class="bi bi-cash"> Valor da hospedagem</li>
      <li>{{ reservationDetails?.valorHospedagem | currency: 'BRL' }}</li>
    </div>
  </ul>
</div>

<app-footer></app-footer>
