@font-face {
  font-family: inter;
  src: url(../../../assets/fonts/Inter-Medium.ttf);
}

.navbar-container .toolbar {
  background: linear-gradient(#dd5f18, rgb(254, 172, 125));
  color: white;

  .logo-actions .logo-name {
    font-family: inter;
    cursor: pointer;
    line-height: 50px;
  }

  .logo-actions .actions .register,
  .logo-actions .actions .login,
  .logo-actions .actions .my-data {
    color: rgb(28, 28, 28);
    background-color: white;
    font-size: 13px;
  }

  .logo-actions .actions .my-data,
  .logo-actions .actions i {
    cursor: pointer;
  }

  .navigation {
    gap: 20px;
  }

  .hospedagem-button,
  .reservas-button {
    color: rgb(255, 255, 255);
    background-color: rgba(101, 101, 101, 0.18);
    border: solid 1px white;
    font-size: 13px;
    padding: 6px 30px;
  }
}

.teste {
  top: 30px;
  gap: 10px;
  max-width: 98%;

  .select-filter {
    border: solid 1px rgba(0, 0, 0, 0.401);
    box-sizing: border-box;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
  }
}

@media screen and (min-width: 768px) {
  .toolbar .logo-name {
    margin: 10px auto;
  }

  .toolbar .actions .login {
    margin-right: 10%;
  }
}
