<nav class="navbar navbar-expand-lg navbar-dark" style="background-image:  linear-gradient(rgba(221,95,24,1), rgb(252, 157, 102));">
  <a class="navbar-brand logo-name ms-5" href="#" (click)="onLogoClick()">
    {{ redirectOnLogoClick ? 'RoomRover.com' : 'RoomRover.com' }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav actions">
      <li class="nav-item">
        <a class="nav-link me-5" href="#"><i class="bi bi-question-circle"></i></a>
      </li>
    </ul>
  </div>
</nav>
