@font-face {
  font-family: inter;
  src: url(../../../assets/fonts/Inter-Medium.ttf);
}

.navbar {
  font-family: inter;
}

.navbar-brand {
  font-size: 18px;
  cursor: pointer;
  line-height: 50px;
}

.bi {
  font-size: 30px;
}
