<app-navbar [redirectOnLogoClick]="'/'"></app-navbar>
<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="text-center">
    <img
      src="../../../assets/icons/confirmation.gif"
      alt="GIF"
      style="max-width: 50%; height: auto; margin-top: 80px"
    />
    <h2 class="mt-5" style="color: orange">{{ message }}</h2>
    <button
      class="btn btn-primary mt-4"
      style="background-color: #ff833b; border-radius: 5px; border: none"
      (click)="redirectToRoute()"
    >
      {{ messageButton }}
    </button>
  </div>
</div>
