th {
    background-color: #FF9154;
    color: white;
}

.btn-warning{
    display: flex;
    background-color: #FF9154;
    color: white;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
}

.label{
    font-size: 10px;
}
.my-table-container {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  