<div class="navbar">
  <app-navbar></app-navbar>
</div>

<div>
  <div class="title">
    <h4>Dados Pessoais</h4>
    <p>Atualize suas informações</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <div class="list-group-item">
      <li>Nome</li>
      <li>body.nome</li>
    </div>
    <div class="list-group-item">
      <li>E-mail</li>
      <li>body.email</li>
    </div>
    <div class="list-group-item">
      <li>Telefone</li>
      <li>body.telefone</li>
    </div>
    <div class="list-group-item">
      <li>Data de Nascimento</li>
      <li>body.dataDeNascimento</li>
    </div>
    <div class="list-group-item">
      <li>Nacionalidade</li>
      <li>body.nacionalidade</li>
    </div>
    <div class="list-group-item">
      <li>Gênero</li>
      <li>body.gênero</li>
    </div>
  </ul>
</div>

<div class="button-ok">
  <button type="button" class="btn btn-warning">Ok</button>
</div>
<div class="button-delete">
  <button type="button" class="btn btn-danger">Excluir conta</button>
</div>

<app-footer></app-footer>
