<app-navbar [redirectOnLogoClick]="'/'"></app-navbar>

<div>
  <div class="title">
    <h4>Dados Pessoais</h4>
    <p (click)="toggleEditing(null)" [style.cursor]="'pointer'">
      Atualize suas informações <i class="bi bi-pencil"></i>
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <ng-container *ngFor="let user of userData">
      <div class="list-group-item">
        <li>Nome</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'name')"
        >
          <div class="campos">
            <label *ngIf="fieldNotSaved" class="text-danger small italic">
              Necessário salvar o campo para atualizar*
            </label>
            <input
              type="text"
              [(ngModel)]="editedUserData.name"
              name="name"
              [ngClass]="{ 'input-error': fieldNotSaved }"
            />
            <button
              class="btn btn-sm btn-success"
              (click)="saveEdit('name', editedUserData.name)"
            >
              Salvar
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'name'))
          "
        >
          <li>{{ user.name }}</li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Email</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'email')"
        >
          <div class="campos">
            <label *ngIf="fieldNotSaved" class="text-danger small italic">
              Necessário salvar o campo para atualizar*
            </label>
            <input
              type="email"
              [(ngModel)]="editedUserData.email"
              name="email"
              [ngClass]="{ 'input-error': fieldNotSaved }"
            />
            <button
              class="btn btn-sm btn-success"
              (click)="saveEdit('email', editedUserData.email)"
            >
              Salvar
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'email'))
          "
        >
          <li>{{ user.email }}</li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Telefone</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'phone')"
        >
          <div class="campos">
            <label *ngIf="fieldNotSaved" class="text-danger small italic">
              Necessário salvar o campo para atualizar*
            </label>
            <input
              type="text"
              [(ngModel)]="editedUserData.phone"
              name="phone"
              [ngClass]="{ 'input-error': fieldNotSaved }"
            />
            <button
              class="btn btn-sm btn-success"
              (click)="saveEdit('phone', editedUserData.phone)"
            >
              Salvar
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'phone'))
          "
        >
          <li>
            {{ user.phone }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Data de Nascimento</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'birthdate')"
        >
          <div class="campos">
            <label *ngIf="fieldNotSaved" class="text-danger small italic">
              Necessário salvar o campo para atualizar*
            </label>
            <input
              type="date"
              [(ngModel)]="editedUserData.birthdate"
              name="birthdate"
              [ngClass]="{ 'input-error': fieldNotSaved }"
              class="date"
              min="1920-01-01"
              max="{{ currentDate() | date: 'yyyy-MM-dd' }}"
              pattern="^\d{1,4}-\d{2}-\d{2}$"
            />
            <button
              class="btn btn-sm btn-success"
              (click)="saveEdit('birthdate', editedUserData.birthdate)"
            >
              Salvar
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'birthdate'))
          "
        >
          <li>
            {{ user.birthdate | date: 'dd/MM/yyyy' }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Nacionalidade</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'nationality')"
        >
          <div class="campos">
            <label *ngIf="fieldNotSaved" class="text-danger small italic">
              Necessário salvar o campo para atualizar*
            </label>
            <input
              type="text"
              [(ngModel)]="editedUserData.nationality"
              name="nationality"
              [ngClass]="{ 'input-error': fieldNotSaved }"
            />
            <button
              class="btn btn-sm btn-success"
              (click)="saveEdit('nationality', editedUserData.nationality)"
            >
              Salvar
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'nationality'))
          "
        >
          <li>
            {{ user.nationality }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Gênero</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'gender')"
        >
          <div class="campos">
            <label *ngIf="fieldNotSaved" class="text-danger small italic">
              Necessário salvar o campo para atualizar*
            </label>
            <select
              [(ngModel)]="editedUserData.gender"
              name="gender"
              [ngClass]="{ 'input-error': fieldNotSaved }"
            >
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
              <option value="Outro">Outro</option>
            </select>
            <button
              class="btn btn-sm btn-success"
              (click)="saveEdit('gender', editedUserData.gender)"
            >
              Salvar
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'gender'))
          "
        >
          <li>{{ user.gender }}</li>
        </ng-container>
      </div>
    </ng-container>
  </ul>
</div>

<div class="button-ok">
  <button type="button" *ngIf="isAllEditing" class="btn btn-warning ok" (click)="okEdit()">Ok</button>
  <button class="btn btn-danger cancel" (click)="cancelEditing()" *ngIf="isAllEditing">cancelar</button>

<app-footer></app-footer>
