<app-navbar [redirectOnLogoClick]="'/'"></app-navbar>

<div>
  <div class="title">
    <h4>Dados Pessoais</h4>
    <p (click)="toggleEditing(null)" [style.cursor]="'pointer'">
      Atualize suas informações <i class="bi bi-pencil"></i>
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <ng-container *ngFor="let user of userData">
      <div class="list-group-item">
        <li>Nome</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'name')"
        >
          <input type="text" [(ngModel)]="editedUserData.name" name="name" />
          <button
            class="btn btn-sm btn-success"
            (click)="saveEdit('name', editedUserData.name)"
          >
            Salvar
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'name'))
          "
        >
          <li>
            {{ user.name }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Email</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'email')"
        >
          <input type="email" [(ngModel)]="editedUserData.email" name="email" />
          <button
            class="btn btn-sm btn-success"
            (click)="saveEdit('email', editedUserData.email)"
          >
            Salvar
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'email'))
          "
        >
          <li>
            {{ user.email }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Telefone</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'phone')"
        >
          <input type="text" [(ngModel)]="editedUserData.phone" name="phone" />
          <button
            class="btn btn-sm btn-success"
            (click)="saveEdit('phone', editedUserData.phone)"
          >
            Salvar
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'phone'))
          "
        >
          <li>
            {{ user.phone }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Data de Nascimento</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'birthdate')"
        >
          <input
            type="date"
            [(ngModel)]="editedUserData.birthdate"
            name="birthdate"
          />
          <button
            class="btn btn-sm btn-success"
            (click)="saveEdit('birthdate', editedUserData.birthdate)"
          >
            Salvar
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'birthdate'))
          "
        >
          <li>
            {{ user.birthdate }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Nacionalidade</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'nationality')"
        >
          <input
            type="text"
            [(ngModel)]="editedUserData.nationality"
            name="nationality"
          />
          <button
            class="btn btn-sm btn-success"
            (click)="saveEdit('nationality', editedUserData.nationality)"
          >
            Salvar
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'nationality'))
          "
        >
          <li>
            {{ user.nationality }}
          </li>
        </ng-container>
      </div>

      <div class="list-group-item">
        <li>Gênero</li>
        <ng-container
          *ngIf="isAllEditing || (isEditing && editedField === 'gender')"
        >
          <input
            type="text"
            [(ngModel)]="editedUserData.gender"
            name="gender"
          />
          <button
            class="btn btn-sm btn-success"
            (click)="saveEdit('gender', editedUserData.gender)"
          >
            Salvar
          </button>
        </ng-container>
        <ng-container
          *ngIf="
            !isAllEditing &&
            (!isEditing || (isEditing && editedField !== 'gender'))
          "
        >
          <li>
            {{ user.gender }}
          </li>
        </ng-container>
      </div>
    </ng-container>
  </ul>
</div>

<div class="button-ok">
  <button type="button" class="btn btn-warning" (click)="okEdit()">Ok</button>
</div>
<div class="button-delete">
  <button type="button" class="btn btn-danger">Excluir conta</button>
</div>

<app-footer></app-footer>
