<app-navbar [redirectOnLogoClick]="'/'"></app-navbar>

<form class="form-login">
  <h5>Faça login</h5>
  <div class="form-row-login">
    <div class="form-group-login">
      <label for="email">E-mail</label>
      <input
        type="email"
        placeholder="Digite seu e-mail"
        class="form-control-login"
      />
    </div>
  </div>
  <div class="form-row-login">
    <div class="form-group-login">
      <label for="senha">Senha</label>
      <input
        type="password"
        placeholder="Digite sua senha"
        class="form-control-login"
      />
    </div>
  </div>
  <button
  type="submit"
  class="button-submit-login">
  Entrar

  </button>
</form>

<app-footer></app-footer>
